extends layout

block content
  h1= title
  p Welcome to #{title} {{code}}
  div.script-container
    ui-codemirror(ng-model='code' ui-codemirror='{lineNumbers: true, tabSize: 2}') Content goes here
  button(ng-click='ctrl.banana(code)') Click me
