doctype html
html(ng-app='app')
  head
    title= title
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js")
    script(src="/javascripts/lib/codemirror.js")
    script(src="/javascripts/lib/codemirror-mode-coffeescript.js")
    script(src="/javascripts/lib/ui-codemirror.js")
    script(src="/javascripts/application.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/lib/codemirror.css')
  body(ng-controller='ScriptController as ctrl')
    block content