body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.script-container {
  border: 1px solid black;
  background: pink;
  color: green;

}